h1 {
    text-align: center;
}

#text-input {
    max-width: 80%;
    height: 10vh;
    display: block;
    padding: 1rem;
    margin: 1rem;
}

#translate-btn {
    margin: 1rem;
    padding: 1rem;
    font-size: larger;
}

#text-output {
    max-width: 80%;
    height: 10vh;
    border: 1px solid black;
    padding: 1rem;
    margin: 1rem;
}